java/WebShop/WebShopLib/xml-resources/jaxb/xmlBINDING/Objects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
  <xs:complexType name="Organization">
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element minOccurs="0" name="ParentOrgName" type="xs:string" />
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="userId" type="xs:string" />
      <xs:element name="Address" type="xs:string" />
      <xs:element name="OrgName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Attribute">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="value" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute" type="Attribute" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="productId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute" type="Attribute" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductPost">
    <xs:sequence>
      <xs:element name="productId" type="xs:string" />
      <xs:element name="quantity" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ShoppingCart">
    <xs:sequence>
      <xs:element name="Id" type="xs:string" />
      <xs:element name="userId" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="item" type="ProductPost" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="data">
    <xs:complexType>
      <xs:sequence >
        <xs:element minOccurs="0" maxOccurs="unbounded" name="DataOrganization" type="Organization" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="DataUser" type="User" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="DataProduct" type="Product" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="DataShoppingCart" type="ShoppingCart" />               
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>